apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-deployment
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-boot
  template:
    metadata:
      labels:
        app: spring-boot
    spec:
      containers:
      - name: spring-boot
        # REMPLACE <anassouissi> CI-DESSOUS
        image: <anassouissi>/spring-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8089
        env:
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://mysql-service:3306/my_database?useSSL=false&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true"
        - name: SPRING_DATASOURCE_USERNAME
          value: "root"
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: password
        - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
          value: "com.mysql.cj.jdbc.Driver"
---
apiVersion: v1
kind: Service
metadata:
  name: spring-service
  namespace: devops
  labels:
    app: spring-boot
spec:
  type: NodePort
  selector:
    app: spring-boot
  ports:
    - protocol: TCP
      port: 8089
      targetPort: 8089
      nodePort: 30007
